extends layout



mixin displayLink(templateName, isImplemented)
    tr
    -if (isImplemented) {
        th
            a(href='/template/#{templateName}')= templateName
        th
            a(href='http://twbs.github.io/bootstrap/examples/#{templateName}')= templateName
    -}
    - else {
        th
            | #{templateName}
            b
                | &nbsp;- not implemented yet
        th
            a(href='http://twbs.github.io/bootstrap/examples/#{templateName}')= templateName
    -}


block body

    p.lead
        | All bootstrap 3 templates have been converted into Jade templates; enjoy !

    table.table.table-condensed
        thead
            tr
                th Jade version
                th HTML version
        tbody
            +displayLink('blog', true)
            +displayLink('carousel', true)
            +displayLink('cover', true)
            +displayLink('dashboard', true)
            +displayLink('grid', true)
            +displayLink('jumbotron', true)
            +displayLink('jumbotron-narrow', true)
            +displayLink('justified-nav', true)
            +displayLink('navbar', true)
            +displayLink('navbar-fixed-top', true)
            +displayLink('navbar-static-top', true)
            +displayLink('non-responsive', true)
            +displayLink('offcanvas', true)
            +displayLink('signin', true)
            +displayLink('starter-template', true)
            +displayLink('sticky-footer', true)
            +displayLink('sticky-footer-navbar', true)
            +displayLink('theme', true)
            +displayLink('tooltip-viewport', true)